# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfstate.backup

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Logs
*.log

# Kubernetes
*.yaml~
.kube/

# Helm
charts/
*.tgz

# CI/CD
.env
.secrets